<link href='custom.css' media='screen' rel='stylesheet' type='text/css' />
<body class="swagger-section">
    <div id="header">
     <h1>ToDo API Documentation</h1>
    </div>
 
    <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
 </body>